.formloginne{
  width: 100%;
  height: 430px;
  padding:70px;
}
.formloginne1{
  width: 100%;
  height: 480px;
  padding:70px;
}

.formlogindk{
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 10px;
  
}

.formlogincon1,input{
  padding: 10px ;
  font-size: 20px;
  display: block;
  width: 100%;
  border-radius: 10px;
  margin:10px 0 10px 0;
  
}

.formthongtindk{
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 10px;
}

.banghienratn{
  width: 100%;
  background-color: #333333;
  color: #fff;
  height: 100%;
  border-radius: 0 0 10px 10px;
}
