.cart{
  background-color:#eeeeee;
}
.pading{
  padding:100px 100px 100px 100px;
}
.thongtinspcart{
  
}
.tablespcart{
  background-color:white;
  margin-bottom: 100px;
  
}
.trcart{
  width:'100%';
}
